<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inventory_System.styles.css" asp-append-version="true" />
    <link  rel="stylesheet" href="~/css/Sidebar.css" asp-append-version="true"/>
    <style>

    </style>
</head>
<body>
    <div class="sidebar d-flex flex-column vh-100 bg-dark ">
        <div class="fs-4 fw-bold px-3 mb-4">Inventory</div>

        <a asp-area="" asp-controller="Home" asp-action="Index" class="px-3 text-white text-decoration-none">Home</a>

        <!-- Toggle Header -->
        <div class="px-3  fw-semibold mt-3 nav-toggle" data-bs-toggle="collapse" data-bs-target="#productSubmenu" aria-expanded="false" aria-controls="productSubmenu">
            Product Management
        </div>

        <!-- Collapsible Submenu -->
        <div class="collapse ps-2"  id="productSubmenu">
            <a asp-area="" asp-controller="Product" asp-action="Index" class="ps-4 text-white text-decoration-none">Product List</a>
            <a asp-area="" asp-controller="Product" asp-action="Create" class="ps-4 text-white text-decoration-none">Create</a>
        </div>

        <!-- Spacer to push logout down -->
        <div class="flex-grow-1"></div>

        <!-- Logout at the bottom -->
        <div class="px-3 pb-3">
            <a asp-action="Logout" asp-controller="Account" class="btn btn-danger w-100">Logout</a>
        </div>
    </div>


    <div class="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center mt-auto">
        <div class="container">
            &copy; 2025 - Inventory - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/validations.js"></script>
    <script src="~/js/DeleteModal.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
