@model Inventory_System.Models.Product;
@{
    ViewData["Title"] = $"Edit Product - {Model.Name}";
   
}
<h2>Edit</h2>
<<div class="container py-5">
    <div class="card shadow-sm mx-auto" style="max-width: 600px;">
        <div class="card-header bg-dark text-white text-center fs-4">
            Edit Product
        </div>
        <div class="card-body">
            <form asp-action="Edit" method="post">
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control" id="txtName" />
                    <span asp-validation-for="Name" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Price" class="form-label">Price</label>
                    <input asp-for="Price" type="number" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger small"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Category" class="form-label">Category</label>
                    <input asp-for="Category" class="form-control" />
                    <span asp-validation-for="Category" class="text-danger small"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-success">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
